*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}
body{
    box-sizing: content-box;
    background-color: rgb(13,17,23);
    font-family: system-ui;
    color: rgb(184,185,185);

}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.left{
    width: 63%;
    color: rgb(184,185,185);
    height: 100vh;
    align-items: center;
    background-color:  rgb(13,17,23);
}
.right{
    background-color: rgb(33,38,45);
    height: 100vh;
    display:grid;
    width: 37%;
}
.top{
    height: 100%;
    display:block;
    width: 100%;
}
.bottom{
    height: 100%;
    width: 100%;
}
.heading{
    margin-top: 50px;
    /* margin-left: 177px; */
    text-align: center;
    font-size: 26px;
}
.video{
    margin-left:100px;
    margin-top: 20px;
}
.attendance{
    margin-left: 70px;
    font-size: 30px;
    margin-top: 20px;
}
.data{
  background-color: rgb(43,49,55);
    width: 340px;
    height: 160px;
    overflow-x: auto;
    margin-top: 10px;
    padding: 20px;
    color: rgb(161, 156, 156);
    margin-left: 70px;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    padding: 11px 125px;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-left: 70px;
    font-size: 16px;
}
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  .name{
    margin-left: 70px;
    background-color:rgb(43,49,55) ;
    border: none;
    width: 340px;
    outline: none;
    color: rgb(206, 204, 204);
    padding-left: 10px;
    height: 40px;
    border-bottom: 2px solid rgb(27, 30, 34);
    margin-top: 10px;
  }
  #file-upload{
    margin-left: 70px;
    width: 340px;
    height: 170px;
    margin-top: 10px;
    background-color:rgb(43,49,55);
    color: rgb(29, 33, 37);
    border: 1px dashed rgb(100, 97, 97);
  }
  ::-webkit-file-upload-button{
    background-image: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.521)), 
    url('icon-removebg-preview.png');
background-size: cover;
background-repeat: no-repeat;
color: transparent;
border: none;
margin-top: 14%;
margin-left: 27%;
width: 80px;
height: 80px;
background-position: center;
border-radius: 50%;
cursor: pointer;
text-align: center;
font-weight: bold;
font-size: 14px;

  }
  .image-submit{
    height: 45px;
    width: 140px;
    margin-left: 100px;
    margin-top: 8px;
    background-color: DodgerBlue;
    border: none;
    color: rgb(207, 207, 207);
    font-size: 15px;
    cursor: pointer;
  }
  .live-submit{
    background-color: DodgerBlue;
    width: 140px;
    border: none;
    color: rgb(207, 207, 207);
    font-size: 15px;
    height: 45px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
  }
  .open{
    width: 140px;
    cursor: pointer;
    border: none;
    background-color: DodgerBlue;
    height: 45px;
    margin-left: 240px;
    color: rgb(207, 207, 207);
    font-size: 15px;
    margin-top: 10px;
  }
  .stop{
    border: none;
    width: 140px;
    background-color: DodgerBlue;
    cursor: pointer;
    height: 45px;
    color: rgb(207, 207, 207);
    margin-left: 20px;
    font-size: 15px;
    margin-top: 10px;
  }
  .add-image{
    margin-left: 70px;
    margin-top: px;
    font-size: 16px;
  }